span[data-validate-for] {
    color: #ff5722;
}

#comment-form #comment-text {
    height: auto;
}

.comments ul li ul {
    padding-left: 60pt;
}

.flash-message {
    margin-top: 45pt;
}

.input-field .editor-toolbar.fullscreen, .input-field .CodeMirror-fullscreen, .input-field .editor-preview-side {
    z-index: 1000000;
}