==
<?php
function onStart()
{
    $slug = $this->getRouter()->getParameter('slug');
    $post = \Mnv\Blog\Models\Post::where('slug', '=', $slug)->first();

    $questions = \Mnv\Blog\Models\SurveyQuestion::where('post_id', '=', $post->id)->orderBy('item_order')->get();
    $questionIds = $questions->pluck('id')->toArray();

    $all = \Mnv\Blog\Models\SurveyAnswer::whereIn('question_id', $questionIds)
        ->orderBy('created_at')
        ->orderBy('front_user_id')
        ->get();
    $allAnswers = [];
    foreach ($all as $answer) {
        if (!isset($allAnswers[$answer->front_user_id])) {
            $allAnswers[$answer->front_user_id] = [];
        }
        $allAnswers[$answer->front_user_id][$answer->question_id] = $answer;
    }

    $userId = Auth::getUser()->id;
    $answers = \Mnv\Blog\Models\SurveyAnswer::whereIn('question_id', $questionIds)
        ->where('front_user_id', '=', $userId)->get();
    $this['hasAnswered'] = $answers->count() > 0;

    $this['post'] = $post;
    $this['allAnswers'] = $allAnswers;
    $this['answers'] = $answers;
    $this['questions'] = $questions;
    $this['questionBooleanId'] = \Mnv\Blog\Models\Catalog\SurveyQuestionType::getIdByCode(
        \Mnv\Blog\Models\Catalog\SurveyQuestionType::QUESTION_TYPE_BOOLEAN
    );
    $this['questionStringId'] = \Mnv\Blog\Models\Catalog\SurveyQuestionType::getIdByCode(
        \Mnv\Blog\Models\Catalog\SurveyQuestionType::QUESTION_TYPE_STRING
    );
    $this['questionSelectId'] = \Mnv\Blog\Models\Catalog\SurveyQuestionType::getIdByCode(
        \Mnv\Blog\Models\Catalog\SurveyQuestionType::QUESTION_TYPE_SELECT
    );
    $this['questionMultiselectId'] = \Mnv\Blog\Models\Catalog\SurveyQuestionType::getIdByCode(
        \Mnv\Blog\Models\Catalog\SurveyQuestionType::QUESTION_TYPE_MULTISELECT
    );
}
?>
==
<div class="content">{{ post.content_html|raw }}</div>

{% if post.featured_images.count %}
    <div class="featured-images text-center">
        {% for image in post.featured_images %}
            <p>
                <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    style="max-width: 100%" />
            </p>
        {% endfor %}
    </div>
{% endif %}

{% if post.files.count %}
    <div class="post-files text-center">
        <p>Прикрепленные файлы:</p>
        <ul>
            {% for file in post.files %}
            <li>
                <a target="_blank" title="{{ file.filename }}" href="{{ file.path }}?filename={{ file.filename }}">{{ file.filename }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if not hasAnswered %}
    {% partial 'survey::pass' questions=questions post_id=post.id %}
{% else %}
    {% partial 'survey::result' questions=questions answers=answers %}
    {% partial 'survey::results' questions=questions answers=allAnswers %}
    <br>
{% endif %}

<div class="info">
    <div class="chip">{{ post.avatar|raw }} {{ post.front_user.name }}</div>
    Опубликовано {{ post.published_at|date('d M Y') }}
    {% if post.categories.count %} в
        {% for category in post.categories %}
            <div class="chip">
                <a href="{{ category.url }}">{{ category.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
    {% if post.updated_at != post.published_at %} в
        (Обновлено {{ post.updated_at|date('d M Y') }})
    {% endif %}
</div>