title = "Blog post"
url = "/blog/post/:slug"
layout = "octaskin"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "news/category"

[commentsPost]

[session]
security = "user"
redirect = "auth/access-denied"
==
<?php
function onStart()
{
    $slug = $this->getRouter()->getParameter('slug');
    $post = \Mnv\Blog\Models\Post::where('slug', '=', $slug)->first();
    $this['post'] = $post;
}

function onEnd()
{
    $this['canEdit'] = isset($this->blogPost->post) && Auth::getUser()->id == $this->blogPost->post->front_user_id;
    $this->page->title = $this['post']->title ?? 'Новость недоступна';
    $this['hasAccess'] = isset($this->blogPost->post);
}

function onSave()
{
    // @todo: validate, store result, redirect to news list.
    return redirect(url('blog'));
}

?>
==
{% partial "pages-news/header" %}

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">

      {% if hasAccess %}

        <div class="row">
          <div class="col-md-12">
            {% component 'blogPost' %}
          </div>
        </div>

        {% if canEdit %}
          <div class="row">
            <div class="lt-col col s12">
              <div class="lt-social-buttons fixed-action-btn horizontal">
                <a class="btn-floating btn-large waves-effect waves-light red" href="{{ 'blog/edit-post'|page }}">
                  <i class="material-icons">edit</i>
                </a>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            Comments:
            {% component 'commentsPost' %}
          </div>
        </div>

      {% endif %}

    </div>
  </div>
</section>