title = "Восстановление доступа"
url = "/forgot-password"
layout = "octaskin"
description = "Восстановление забытого пароля"
is_hidden = 0

[resetPassword]
paramCode = "code"
==
{% partial "pages-login/header" %}

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
      {% if user %}
        <p>Hello {{ user.name }}</p>
      {% endif %}

      {% flash %}
        <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
      {% endflash %}

      <div class="row">
        <div class="col s6">
          {% component 'resetPassword' %}
        </div>
        <div class="col s6">
          {% if not user %}
            <p class="flow-text">Если у вас ещё нет логина с паролем &mdash; <a href="{{ 'auth/signup'|page }}">Зарегистрируйтесь</a>.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>