==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Zabor. Возможности</h2>
      <p class="flow-text">Получайте оперативно информацию о&nbsp;делах в&nbsp;вашем посёлке.<br>
        Участвуйте в&nbsp;принятии решений. Делитесь новостями.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-note2 primary-color-text"></i>
      <h5>Новости</h5>
      <p>Публикуйте документы, новости и информацию об интересных событиях в посёлке.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-shield primary-color-text"></i>
      <h5>Приватность</h5>
      <p>Регистрацию подтверждает администратор.<br>Информацией делимся только с теми, кто имеет прямое отношение к посёлку.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-world primary-color-text"></i>
      <h5>Карта</h5>
      <p>Контакты соседей отображаются на карте.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-like2 primary-color-text"></i>
      <h5>Голосование</h5>
      <p>Публикуйте опросы и голосуйте за предложения других участников (будет реализовано позже).</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-bell primary-color-text"></i>
      <h5>Уведомления</h5>
      <p>Получайте уведомления о новостях и комментариях (будет реализовано позже).</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-exapnd2 primary-color-text"></i>
      <h5>Адаптивный дизайн</h5>
      <p>Пользуйтесь порталом с любых устройств.</p>
    </div>
  </div>
</div>