[session]
security = "user"
redirect = "home"

[Clake\UserExtended\Components\Account account]
paramCode = "code"
==
<div class="" id="login">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Login</h2>
      <p class="flow-text">Войдите в систему, чтобы получить доступ ко всем возможностям управления поселком.</p>
    </div>
  </div>
  {% flash %}
  <div class="alert alert-{{ type == 'error' ? 'danger' : type }}">{{ message }}</div>
  {% endflash %}
  {% if user %}
    <p>Hello {{ user.name }}</p>
  {% else %}
  {% partial 'account::login' %}
  {% endif %}
</div>