==
<div class="lt-navbar navbar-fixed">
  <nav class="lt-no-background">
    <div class="nav-wrapper">
      <div class="lt-container container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">{{ config('app.name') }}</a>
        <a href="#" data-activates="mobile-menu" class="lt-mobile-toggle button-collapse"><i class="material-icons">menu</i></a>

        <ul id="dropdown1" class="dropdown-content">
          <li><a href="{{ 'auth/profile'|page }}">Профиль</a></li>
          <li class="divider"></li>
          <li>{% partial 'account::logout' %}</li>
        </ul>

        <ul class="right hide-on-med-and-down">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Главная</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog/blog'|page }}">Новости</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
          {% if user %}
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown1">
              <div class="chip">
                {{ user.name }} &nbsp; 
                <img src="{% if account.userAvatar.path %} {{account.userAvatar.path}} {% else %} {{'plugins/clake/userextended/assets/img/default_user.png'|app}} {% endif %}">
              </div>
            </a>
          </li>
          {% else %}
            <li class="{% if this.page.id == 'auth-signin' %}active{% endif %}"><a href="{{ 'auth/signin'|page }}">Вход</a></li>
          {% endif %}
        </ul>

        <ul id="dropdown2" class="dropdown-content">
          <li><a href="{{ 'auth/profile'|page }}">Профиль</a></li>
          <li class="divider"></li>
          <li>{% partial 'account::logout' %}</li>
        </ul>

        <ul class="side-nav" id="mobile-menu">
          <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Главная</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog/blog'|page }}">Новости</a></li>
          <li class="{% if this.page.id == 'contact' %}active{% endif %}"><a href="{{ 'contact'|page }}">Contact</a></li>
          <li class="divider"></li>
          {% if user %}
          <li>
            <a class="dropdown-button" href="#!" data-activates="dropdown2">
              <div class="chip">
                {{ user.name }} &nbsp; 
                <img src="{% if account.userAvatar.path %} {{account.userAvatar.path}} {% else %} {{'plugins/clake/userextended/assets/img/default_user.png'|app}} {% endif %}">
              </div>
            </a>
          </li>
          {% else %}
            <li class="{% if this.page.id == 'auth-signin' %}active{% endif %}"><a href="{{ 'auth/signin'|page }}">Вход</a></li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
</div>